// ====== PULSE ANIMATION - START ======
@keyframes animation-kf-pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.25, 1.25, 1.25);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.animation-pulse {
    animation-name: animation-kf-pulse;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
}
// ====== PULSE ANIMATION - END ======
